// Media query sizes
$mobile-max-width: 600px;
$tablet-min-width: 601px;
$tablet-max-width: 1260px;

// Colors
$white: #FFF;

$electric-purple-500: #7C01FF;

$scarp-gray-000: #FCFCFC;
$scarp-gray-100: #E6E5E7;
$scarp-gray-200: #D3D2D4;
$scarp-gray-400: #625e64;
$scarp-gray-700: #2E2933;

$bright-turquoise-000: #E6FEF9;
$bright-turquoise-500: #00F2C3;

// Fonts
$mulish: 'Mulish', sans-serif;
$open-sans: 'Open Sans', sans-serif;